#nav {
    background: #033e6b;
    min-height: 2.5em;
    margin: 0 0 .5em 0;
    padding: .5em 0;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}
#nav a {
    font-family: "Arial Black";
    color: #3f92d2;
    font-size: 2em;
    text-decoration: none;
    display: inline;
    padding: .4em;
}
#nav a:hover {
    color: #66a3d2;
}