.table-bordered {
    width: 95%;
    table-layout: fixed;
    margin: 4px;
    margin-left: 6px;

}
.table-bordered td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: larger;
    text-align: center;
    font-variant: small-caps;
    padding: .3em;
}
.button {
    background-color: #ede7d7;

}
.button a {
    display: block;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table-bordered th {
    font-size: larger;
    padding: .5em;
}
.table-bordered tfoot th {
    border-top: #ccc 2px double;
}
.table-bordered tbody tr:nth-child(2n) {
    background-color: #ede7d7;
}